---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>👾 Hello, Person!</h1>
			<p>
				Welcome to an early version of my blog, this is part thought dump for proses and poems as well ocassionaly stories?
				i dont know, just a creative outlet. Ill be making more adjustments such as;
				<li>adding a photography section (work in progress) </li> <!-- Maybe use mdx to like do modals and shit idk -->
				<li>a more organised way to look up posts</li> <!-- Probably organised by tags and dates -->
				<li>dark mode</li> <!-- Maybe multiple colors? -->
				<li>more spaced out, more terminal esq look</li>
				<li>replace this with something cooler</li>
				<li>comment section?</li>
				<p>
					While I could possibly give this blog more of a personality by idk torturing myself for a few hundred hours, integrating
					<a href="https://threejs.org/">three.js</a> into a really cool tailwind-rotating-parallax-transformative-effects that
					change with breakpoints; without compramising on page load, i have learnt not to do that as it is not much more than a
					continious headache which i have to deal with every single time an aesthetic dies out.
				</p>
			</p>
		</main>
		<Footer />
	</body>
</html>
